* {
    margin: 0px;
    padding: 0px;
    font-family: 'Nunito', sans-serif;
    color: red;
    text-decoration: none;
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 8vh;
    background-color: white;
}

li {
    list-style-type: none;
}

.nav-links {
    display: flex;
    justify-content: space-around;
    width: 40% ;
    font-size: 14pt;
}

#home_img {
   position: absolute;
   z-index: -1;
   width: 100%;
   height: 400px;
}

.hero_box {
    position: relative;
    height: 600px
    width: 100%;
}

.hero_text {
    position: absolute;
    left: 0; right: 0; top: 0; bottom: 0;
    margin: auto;
    font-size: 50pt;
    color: white;
}