.top_column {
    background-color: orange;
    display: flex;
}

#main_content {
    display: flex;
    height: 600px;
    width: 1000px;
    background-color: teal;
    font-size: 80pt;
    color: white;
    flex: 3;
}

#main_content p {
    margin: auto;
}

#recom {
    display: flex;
    height: 1000px;
    background-color: brown;
    flex: 1;
}

#recom button {
    margin: auto;
    height: 50px;
    width: 50px;
}