div#frontbox {
    height: 0px;
    width: 0px;
    border-top: 100px solid transparent;
    border-bottom: 100px solid transparent;
    border-left: 100px solid greenyellow;
    position: absolute;
    top: 0; left: 0; bottom: 0; right: 0;
    margin: auto;
}

div#backbox {
    position: relative;
    height: 500px;
    width: 500px;
    border: 0px;
    background-color: violet;
}