	body {
		font-family: arial;
	}

	button {
		color: black;
	}

	#payoffCalc {
		border-style: solid;
		margin-bottom: 10;
		text-align: center;
	}

	.tictacToe {
		margin: 0 auto;
		width: 206px;
		background:;
	}

	.inputBox {
		padding: 30px;
		border: none;
		font-weight: bold;
		font-size: 20pt;
		background-color: white;
		width:15px;
		height: 15px;
	}

	.inputBox.disabled {
		color:inherit;
	}

	.winImg {
	 margin: 0 auto; 
	 position: absolute; 
	}

	#basicInfo, #tictactoeGameBoard {
		text-align: center;
	}

	.winImg {
		pointer-events: none;
		float: center;
	}

	.resetButton {
		margin-left: 72px;
	}
